@import '../index.scss';


footer.footer {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180.02deg, rgba(254, 217, 183, 0) 0.01%, #4C5068 27.9%);

    p {
        text-align: center;
        color: white;
        padding-top: 1em;
    }
}

footer ul {
    width: 100%;
    height: 100%;
    padding-top: 2%;

    li {
        text-align: center;
        padding-top: 1em;

        a {
            text-decoration: none;
            color: white;
        }
    }
}