@import '../index.scss';

.home {
    width: 100%;
    height: 100vh;
    background-color: $Second-Base-Peach-Color;

    .text-container {
        width: 100%;
    }

    .mylogo {
        width: 100%;
        height: 148px;
        padding-top: 5em;
        transition: all 1.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }

    h3 {
        text-align: center;
        transition: all 2s ease-in-out;
        transform-origin: right;
        font-size: xx-large;
        text-shadow: 3px 1px 0px rgba(255, 255, 255, 1);
    }

    /* Text Animation */

    .hero {
        height: 100vh;
        position: relative;
    }

    .appear-left {
        transform: translateX(0);
    }

    .fade-in {
        opacity: 1;
    }

    #flip {
        height: 4em;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 0.1em;
        margin-top: 1em;
    }

    #flip>div>span {
        color: #fff;
        width: 100%;
        align-items: center;
        height: 4em;
        font-size: 3.2em;
        text-align: center;
        display: inline-block;
        font-family: $font-titles;
        font-weight: 700;
        border-radius: 35px;
    }

    #flip div:first-child {
        animation: show 5s linear infinite;
    }

    #flip div:last-child {
        height: 4em;
    }

    #flip div {
        height: 4em;
    }

    #flip div span {
        height: 100%;
        background: $Verdi-gris-hover;
    }

    #flip div:first-child span {
        background: $CG-blue;
        height: 100%;

    }

    #flip div:last-child span {
        background: $Bitter-Sweeter;
        height: 100%;
    }

    @keyframes show {
        0% {
            margin-top: -300px;
        }

        5% {
            margin-top: -135px;
        }

        33% {
            margin-top: -135px;
        }

        38% {
            margin-top: -70px;
        }

        66% {
            margin-top: -70px;
        }

        71% {
            margin-top: 0px;
        }

        99.99% {
            margin-top: 0px;
        }

        100% {
            margin-top: -250px;
        }
    }
}

/*Moon */


/* Desktop */

@media (min-width: 1024px) {
    .home {
        .container-mobile {
            margin: 0;
            width: auto;
            height: fit-content;
            padding-top: 10em;
        }

        .text-container {
            width: 80%;
            margin: 0 auto;
        }

        .hero {
            display: flex;
            flex-direction: row;
        }

        .mylogo {
            padding-top: 3em;
            width: 115%;
            height: 115%;
            transition: all 1.2s ease-in-out;
        }

        .appear-left {
            transform: translateX(-2em);
        }
    }
}

#particles-js {
    position: absolute;
    bottom: 10em;
    z-index: 5;
    width: 100%;
}

@media (min-width: 1300px) {
    .home {
        .hero {
            width: 100%;
        }

        .container-mobile {
            width: 50%;
        }

        #flip {
            width: 60%;
            margin: 0 auto;
        }
    }
}