@import '../index.scss';

.home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #FED9B7 0%, #FDFCDC 100%);

    .text-container {
        width: 100%;
    }

    .mylogo {
        width: 100%;
        height: 148px;
        padding-top: 10em;
        animation: bounceIn 1.5s;
        transform: rotate(0deg) scale(1) translateZ(0);
        transition: all 0.4s cubic-bezier(.8, 1.8, .75, .75);
        transition: all 1.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }

    .mylogo:hover {
        transform: rotate(10deg) scale(1.1);
    }

    h3 {
        text-align: center;
        transition: all 2s ease-in-out;
        transform-origin: right;
        font-size: xx-large;
        text-shadow: 3px 1px 0px rgba(255, 255, 255, 1);
    }

    /* Text Animation */

    .hero {
        height: 100vh;
        position: relative;
    }

    .appear-left {
        transform: translateX(0);
    }

    .fade-in {
        opacity: 1;
    }

    #flip {
        height: 4em;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 0.1em;
        margin-top: 1em;
    }

    #flip>div>span {
        color: #fff;
        width: 100%;
        align-items: center;
        height: 4em;
        font-size: 3.2em;
        text-align: center;
        display: inline-block;
        font-family: $font-titles;
        font-weight: 700;
        border-radius: 35px;
    }

    #flip div:first-child {
        animation: show 5s linear infinite;
    }

    #flip div:last-child {
        height: 4em;
    }

    #flip div {
        height: 4em;
    }

    #flip div span {
        height: 100%;
        background: $Verdi-gris-hover;
    }

    #flip div:first-child span {
        background: $CG-blue;
        height: 100%;

    }

    #flip div:last-child span {
        background: $Bitter-Sweeter;
        height: 100%;
    }

    @keyframes show {
        0% {
            margin-top: -300px;
        }

        5% {
            margin-top: -135px;
        }

        33% {
            margin-top: -135px;
        }

        38% {
            margin-top: -70px;
        }

        66% {
            margin-top: -70px;
        }

        71% {
            margin-top: 0px;
        }

        99.99% {
            margin-top: 0px;
        }

        100% {
            margin-top: -250px;
        }
    }

    .direction {
        top: 15em;
        padding-top: 0;
        width: 100%;
        height: 50%;
    }

    .sparkle-1 {
        opacity: 0.4;
        display: block;
        width: 30%;
        margin-top: 40%;
    }

    .sparkle-2 {
        opacity: 0.8;
        display: block;
        width: 50%;
        margin-left: 40%;
        margin-top: 20%;
    }

    .sparkle-3 {
        opacity: 0.4;
        display: block;
        width: 30%;
        margin-top: 140%;
        z-index: -10;
    }

    .sparkle-4 {
        opacity: 0.8;
        display: block;
        width: 50%;
        margin-left: 40%;
        margin-top: 40%;
        z-index: -100;
    }
}

/* Magic Aurora */

.black-space {
    z-index: 10;
    width: 100%;
    height: 110vh;
    color: black;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 62%, rgba(253, 187, 45, 0) 100%);
}

$diameter: 18vmax;

.aurora {
    background: transparent;
    position: relative;

    a {
        color: rgba(255, 255, 255, 0.7);
        letter-spacing: .7em;
        text-align: center;
        display: block;
        padding: 75% 0;
        text-decoration: none;
        font-size: 15pt;
        font-weight: normal;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }
    }

    &:before,
    &:after {
        content: '';
        display: block;
        position: relative;
        width: 1px;
        height: 1px;
        border-radius: 100%;
        opacity: 0.18;
    }

    &:before {
        box-shadow: 0 0 $diameter $diameter red;
        animation: hue 5s 0s linear infinite,
            move1 10s 0s linear infinite;
    }

    &:after {
        box-shadow: 0 0 $diameter $diameter cyan;
        animation: hue 10s 0s linear infinite,
            move2 20s 0s linear infinite;
    }
}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes move1 {
    0% {
        top: 0%;
        left: 50%;
    }

    25% {
        left: 0%;
    }

    50% {
        top: 50%;
    }

    75% {
        left: 100%;
    }

    100% {
        top: 0%;
        left: 50%;
    }
}

@keyframes move2 {
    0% {
        top: 50%;
        left: 100%;
    }

    25% {
        top: 100%;
    }

    50% {
        left: 0%;
    }

    75% {
        top: 0%;
    }

    100% {
        top: 50%;
        left: 100%;
    }
}

/* Tablet */

@media (min-width: 608px) {
    .home {
        .mylogo {
            height: 250px;
            padding-top: 0;
        }

        .sparkle-1 {
            width: 30%;
            margin-left: 5%;
        }

        .sparkle-2 {
            width: 40%;
            margin-left: 50%;
        }
    }

    .aurora {
        a {
            padding: 50% 0;
        }
    }
}

/* Desktop */

@media (min-width: 1024px) {
    .home {
        .container-mobile {
            margin: 0;
            width: auto;
            height: fit-content;
            padding-top: 10em;
        }

        .text-container {
            width: 50%;
            margin: 0 1em 1em;
        }

        .hero {
            display: flex;
            flex-direction: row;
        }

        .mylogo {
            padding-top: 0;
            width: 115%;
            height: 115%;
            transition: all 1.2s ease-in-out;
        }

        .appear-left {
            transform: translateX(-2em);
        }

    }

    .title-social {
        display: none;
    }
}

#particles-js {
    position: absolute;
    bottom: 10em;
    z-index: 5;
    width: 100%;
}

@media (min-width: 1300px) {
    .home {

        .text-container {
            width: 45%;
            margin: 0 4em 1em;
        }

        h3 {
            font-size: 3em;
        }

        .mylogo {
            width: 100%;
        }

        .hero {
            width: 100%;
        }

        .container-mobile {
            width: 50%;
        }

        #flip {
            width: 60%;
            margin: 0 auto;
        }
    }
}

@keyframes bounceIn {
    0% {
        opacity: 1;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        opacity: 1;
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}