@import '../index.scss';

section#portfolio {
    padding: 10em 0;
    margin: 0;
    background: linear-gradient(180deg, #FED9B7 0%, #FDFCDC 100%);
    position: relative;
    height: 150vh;

    .container-mobile {
        width: 100%;
    }

    h1 {
        text-align: center;
        text-shadow: 3px 1px 0px rgba(255, 255, 255, 1);
    }

    section.portfolio-content {
        background: transparent;
        display: grid;
        padding-top: 5em;

        article.cards-portfolio {
            width: 100%;

            .card {
                position: relative;

                img {
                    width: 100%;
                    height: 25em;
                }

                .content {
                    background-color: rgba(0, 0, 0, 0.3);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    bottom: 0;

                    h3 {
                        font-size: 2em;
                        color: white;
                        text-shadow: 3px 1px 0px rgba(0, 0, 0, 1);
                    }

                    p,
                    span {
                        color: white;
                        background-color: black;
                        margin-top: 20%;
                        text-align: center;
                    }


                }
            }
        }
    }

    button {
        background-color: transparent;
        display: block;
        width: 100%;
        padding-top: 1.2em;
        border-radius: 15px;
        border: 1px solid white;
        color: white;
    }
}